################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CardGame/obj/Debug
/.vs/CardGame/v15/Server/sqlite3
